html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

select {
  -webkit-appearance: menulist-button;
  border: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

button:active,
a:active {
  transform: translateY(2px);
  box-shadow: none;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

button:disabled:hover {
  filter: initial;
}

:root {
  /* fonts */
  --font-primary: Roboto Condensed, sans-serif;
  --font-secondary: Dancing Script, cursive;

  /* palete */
  --darkness: rgba(0, 0, 0, 1);
  --whiteness: rgb(255, 255, 255, 1);
  --blue: rgba(9, 16, 38, 1);
  --light-yellow: rgba(242, 226, 196, 1);
  --dark-yellow: rgba(191, 139, 75, 1);
  --light-brown: rgba(140, 111, 94, 1);
  --dark-brown: rgba(140, 54, 46, 1);

  --shadow-default: 0px 5px 5px rgba(0, 0, 0, 0.3);
  --default-radius: 4px;
  --border-secondary: 1px solid blue;
  --border-contact-info: #fff;
  --transition-default: all 0.6s ease-out;
}

/* global common styles */

body,
input,
textarea,
button {
  font: 400 1rem var(--font-primary);
  border: none;
  border-radius: var(--default-radius);
}

button {
  cursor: pointer;
}
button:hover {
  filter: brightness(80%);
}

body {
  background-color: var(--light-yellow);
}

/* remove arrows input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* remove arrows input type number */
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"],
input[type="password"] {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 1rem 0 0.6rem 0.8rem;
}
input[type="text"],
input[type="password"],
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  font-size: 2rem;
  color: var(--whiteness);
}

.text-dark {
  color: var(--darkness);
}

.text-white {
  color: var(--whiteness);
}

.page-title {
  font-family: var(--font-secondary);
  font-size: 3rem;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0;
  text-align: left;
}

.text-primary-lg {
  font-family: var(--font-primary);
  font-weight: normal;
  font-size: 3.2rem;
  font-style: normal;
  line-height: 4.2rem;
  letter-spacing: 0;
  text-align: left;
}

.text-primary-md {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.9rem;
  letter-spacing: 0;
  /* text-align: center; */
}

.page-tile-lg {
  font-family: var(--font-secondary);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: bold;
  line-height: 3.8rem;
  letter-spacing: 0;
  text-align: left;
}

.react-date-picker {
  background-color: blanchedalmond;
}

@media (min-width: 400px) {
  .page-title {
    font-size: 4rem;
  }
}
@media (min-width: 600px) {
  .page-title {
    font-size: 5.6rem;
  }
}

/* Fonts */
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 55%;
  }
}
